<div class="my-container">
    <div class="row">
        <!-- Gallery -->
        <div class="col-sm-6 col-xs-12">
            <div *ngIf="selectedProduct" class="gallery">
                <ngx-gallery  [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </div>
        <!-- Product Info -->
        <div class="col-sm-6 col-xs-12">
            <div class="caption">
                <h2>{{selectedProduct.name}}</h2>
                <h3>{{selectedProduct.description}}</h3>
               <p class="price">
                    <span>Price:  ${{selectedProduct.costPrice}}</span>
                </p>
                
            </div>
            <div>
                <p *ngIf="selectedProduct.quantity" class="price">
                    <span>Available quantity:  {{selectedProduct.quantity}}</span>
                </p>
                <p *ngIf="selectedProduct.quantity === 0" class="price">
                    <span>Sorry. It is out of stock</span>
                </p>
            </div>
            <!-- Quantity Input -->
            <app-quantity-input [header]="'Quantity'" [maxValue]="selectedProduct.quantity" (valueChanged)="quantityOnChange($event)"></app-quantity-input>
            <!-- Add to Cart -->
            <button type="button" class="btn btn-primary add-cart-btn" [class.btn-disabled]="selectedProduct.quantity === 0" [disabled]="selectedProduct.quantity === 0" (click)="addToCart()">{{(selectedProduct.quantity === 0)? "Out of Stock" : "Add to Cart"}}</button>
        </div>
    </div>
    <hr>
    <!-- Description -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="des-header">Description</h3>
            <div class="des-content">
                {{selectedProduct.detail}}
            </div>
        </div>
    </div>
    
</div>