<div class="my-container">
    <div class="row">
        <!-- Gallery -->
        <div class="col-sm-6 col-xs-12">
            <div *ngIf="data" class="gallery">
                <ngx-gallery  [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </div>
        <!-- Product Info -->
        <div class="col-sm-6 col-xs-12">
            <div class="caption">
                <h2>{{data.name}}</h2>
                <h3>{{data.description}}</h3>
               <p class="price">
                    <span>Price:  ${{data.costPrice}}</span>
                </p>
                
            </div>
            <div>
                <p *ngIf="data.quantity" class="price">
                    <span>Available quantity:  {{data.quantity}}</span>
                </p>
                <p *ngIf="data.quantity === 0" class="price">
                    <span>Sorry. It is out of stock</span>
                </p>
            </div>
            <!-- Quantity Input -->
            <app-quantity-input [header]="'Quantity'" (valueChanged)="quantityOnChange($event)"></app-quantity-input>
            <!-- Add to Cart -->
            <button type="button" class="btn btn-primary add-cart-btn" [class.btn-disabled]="!data.inStock" [disabled]="!data.inStock" (click)="addToCart()">{{data.inStock? "Add to Cart" : "Out of Stock"}}</button>
        </div>
    </div>
    <hr>
    <!-- Description -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="des-header">Description</h3>
            <div class="des-content">
                {{data.detail}}
            </div>
        </div>
    </div>
    
</div>