<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- Notification Service -->
<notifier-container></notifier-container>

<!-- Side Shopping Cart -->
<a class="hidden-xs cart" [routerLink]="'./shopping-cart'"><span class="counter">{{dataService.shoppingCartData.length}}</span></a>




<!-- delete later -->
<!-- <h2>Books</h2>
<app-book-list
  class="book-list"
  [books]="products$ | async"
  (add)="onAdd($event)"
></app-book-list>

<h2>My Collection</h2>
<app-book-collection
  class="book-collection"
  [books]="bookCollection$ | async"
  (remove)="onRemove($event)"
>
</app-book-collection> -->
